<section class="film-list" *ngIf="films">
  <h1></h1>

  <mat-card class="film-card" *ngFor="let film of films; let i = index">
    <mat-card-title></mat-card-title>

    <mat-card-content>
      <img
        mat-card-image
        src="">
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-content>

    <mat-card-actions>
      <a
        mat-icon-button
        (click)="toggleFilmDetails()">Show film detail
      </a>
    </mat-card-actions>

    <app-film-details *ngIf="filmsDetailIsVisible" [film]="film"></app-film-details>
  </mat-card>
</section>
